web-ai-demos/
wasm_playground/
transformer/
image-selector-playground/
chrome_profile_tests/
ByeByeEXIF/
browser-extension-ffmpeg/
.history/
fichiers_de_travail/

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vite/

demo/
/release/*
!/release/
!/release/*.zip